.list-container {
  height: 15vh;
  position: relative;
  text-align: center;
  color: #000000;
  h1 {
    margin-top: 30px;
  }
}

.back-button {
  position: relative;
  text-align: center;
  .btn {
  background-color: $dark-gray;
  }
  a {
    color: $white;
  }
}

.remove-film {
  a {
    color: $red;
  }
}

.add-film {
  .btn {
    background-color: $green
  }
  a {
    color: $white;
  }
}


.card-text {
  p {
    font-size: 12px;
    color: $gray
  }
}

.rating {
  .fa-star {
    color: $yellow
  }
  p {
    color: $gray
  }
}

